__pycache__
.idea
*.pyc
.DS_Store
*.cpython-37.pyc
*.cpython-36.pyc
.env
.flaskenv
*.pyo
env/
venv/
env*
dist/
build/
*.egg
*.egg-info/
_mailinglist
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode

# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover